streamlit
tensorflow==2.8.0       # Versión muy estable, compatible con Python 3.9
mediapipe==0.10.9       # Mantenemos esta, funciona bien con 3.9
numpy==1.21.6           # Versión compatible con TF 2.8.0
opencv-python-headless  # Mantenemos headless
